.blog {
  padding: 2rem 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
    "blog1 blog2"
    "blog3 blog4";
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.blog-card:nth-child(1) { grid-area: blog1; }
.blog-card:nth-child(2) { grid-area: blog2; }
.blog-card:nth-child(3) { grid-area: blog3; }
.blog-card:nth-child(4) { grid-area: blog4; }
.blog-card:nth-child(n+5) { display: none; }

.blog-card {
  background-color: rgba(0, 0, 0, 0.419);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  max-height: 300px; /* Adjust this value as needed */
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #F54E37;
}

.blog-card p {
  margin-bottom: 1rem;
  color: #ffffff;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.read-more {
  display: inline-block;
  background-color: #F54E37;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  align-self: center;
  margin-top: auto;
}

.read-more:hover {
  background-color: #d000ff;
  box-shadow: 0 0 20px rgb(255, 130, 130);
}

.blog h2 {
  color: #F54E37;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.view-more {
  display: inline-block;
  background-color: #F54E37;
  color: #000000;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  align-self: flex-start;
  margin-top: auto;
}

.view-more:hover {
  background-color: #d000ff;
  box-shadow: 0 0 20px rgb(255, 130, 130);
}

.blog .view-more {
  display: inline-block;
  margin: 2rem auto 0;
  text-align: center;
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "blog1"
      "blog2"
      "blog3"
      "blog4";
  }
}
