.contact {
  padding: 2rem 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact h2 {
  color: #F54E37;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.contact p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.419);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact input,
.contact textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #F54E37;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.contact textarea {
  min-height: 150px;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #cccccc;
}

.contact .submit-button {
  background-color: #F54E37;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 600;
  align-self: center;
}

.contact .submit-button:hover {
  background-color: #d000ff;
  box-shadow: 0 0 20px rgb(255, 130, 130);
}
