/* ResumeDownload.css */

.resume-download-container {
  background-color: rgba(0, 0, 0, 0.419);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.resume-download-container:hover {
  transform: translateY(-5px);
}

.resume-download-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #F54E37;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.resume-download-container p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.download-button {
  display: inline-block;
  background-color: #F54E37;
  color: #000000;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download-button:hover {
  background-color: #d000ff;
  box-shadow: 0 0 20px rgb(255, 130, 130);
}

@media (max-width: 768px) {
  .resume-download-container {
    padding: 1.5rem;
  }
  
  .resume-download-container h2 {
    font-size: 1.75rem;
  }
  
  .resume-download-container p {
    font-size: 0.9rem;
  }
  
  .download-button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}
